[Unit]
Description=Telegram bot for ISP parking
After=multi-user.target

[Service]
User=root
Group=root
Type=simple

ExecStart=/usr/bin/python3 /root/parking_isp/Run.py
ExecStop=/bin/kill -2 $MAINPID
Restart=always

WorkingDirectory=/root/parking_isp

# Config
Environment="TG_TOKEN="

[Install]
WantedBy=multi-user.target